.header__out {
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    transition: 0.8s;
    line-height: 23px;
    background: #000000;
    color: #a9a9a9;
    padding: 0;
    margin-left: 23px;
}
.header__out:hover {
    opacity: 0.7;
    cursor: pointer;
}