.profile__info {
    display: grid;
    gap: 16px 18px;
    box-sizing: border-box;
    grid-template-columns: auto 24px;
    /* grid-template-columns: 300px 24px; */
    align-items: center;
    margin-left: 30px;
}
@media screen and (max-width: 767px) {
    .profile__info {
        gap: 14px 10px;
        margin-bottom: 36px;
    }
}
@media screen and (max-width: 640px) {
    .profile__info {
        grid-template-columns: 217px 20px;
    }
}   
